* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    background-color: white;
    border-bottom: 5px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    width: 100%;
}   

.logo img {
    height: 100px;
    width: 100px;
}

.home{
    margin: 0 30px;
}

.logo_buscador{
    display: flex;
    align-items: center;
}


.input-buscador{
    border-radius: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    border: 1px black solid;
    padding: 5px;
}

.buscar{
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
}

.login-registro{
   font-size: 18px;
   justify-self: flex-end;
}

.foto-auto img{
    width: 100%;
}

.main-index{
    display: flex;
}

.menu{
    padding: 15px;
    background-color: black;
    color: white;
}

.categoria{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
    
.categoria a{
    font-weight: 700;
    color: white;
}

.nuevos-productos{
    margin: 30px 0 15px 0;
    display: flex;
    justify-content: center;
}

.titulo-nuevos{
    padding: 100px 60px 15px;
    font-size: 35px; 
}

.producto{
    margin: 0 5px 0 5px;
    background-color: rgb(215, 215, 215);
    border-radius: 20px;
    width: 310px;
    padding: 15px;
}

.foto{
    width: 280px;
}

h3{
   margin: 10px 0;
}

.precio{
    font-weight: bold;
}

.ver {
    background-color: #444;
    padding: 10px;
    width: 75px;
    margin: 15px 0px;
}

.ver a{
    text-decoration: none;
    color: white;
}

.productos-destacados{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(215, 215, 215);
    padding: 20px;
}

.titulo-destacados{
    background-color: rgb(215, 215, 215);
    padding: 100px 60px 15px;
    font-size: 35px;
    margin-top: 50px;
}

.destacado{
    margin: 30px 10px 15px 10px;
    background-color: white;
    border-radius: 20px;
    width: 310px;
    padding: 15px;
}

footer{
    background-color: black;
    padding: 50px 100px 100px;
}

.logo-sinnombre{
    display: flex;
    justify-content: center;
}

.logo-sinnombre img {
    height: 200px;
}

.nombres{
    display: flex;
    justify-content: space-around;
}

.nombre-particular{
    color: lightgrey;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
    display: flex;
    justify-content: center;
    margin: 150px;
    font-size: 18px;
}

.email{
    margin: 0 0 20px ;
}

.ingresar{
    font-size: 20px;
    margin-right: 10px;
}

.cuenta{
    border: black 1px solid;
    padding: 2px;
    border-radius: 4px;
    background-color: rgb(231, 230, 230);
}

.producto-uni{
display: flex;
margin: 30px;
}
.carrera{
    width: 800px;
    display: flex;
    justify-content: center;
}

.caracteristicas{
    margin: 30px;
    background-color: rgb(215, 215, 215);
    border-radius: 20px;
    padding: 20px;
}

.fuente{
    font-weight:bold ;
    margin: 5px 0;

}

.margen{
    margin: 10px 0;
}

.tag{
    background-color: rgb(215, 215, 215);
    border-radius: 20px;
    padding: 20px;
    margin: 0 300px;
}

.tags{
    display: flex;
    justify-content: center;
}

.deportivo{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.dua{
    margin: 0 100px;
}

.resenas {
   display: flex; 
   margin-bottom: 30px;
}

.reseña-titulo{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.usuario{
    background-color: rgb(215, 215, 215);
    border-radius: 20px;
    padding: 20px;
    margin: 10px 15px;
}

.usuario img{
    width: 200px;
}

@media (max-width:480px) {
    .foto-auto{
        display: none;
    }
.main-index{
    display: flex;
    flex-direction: column;
}

.nuevos-productos{
    display: flex;
    flex-direction: column;
}

.productos-destacados{
   display: flex;
   flex-direction: column; 
}

.login-registro{
    margin-left: 15px;
}

.email{
    display: flex;
    flex-direction: column;
}

.ingresar{
    margin-bottom: 15px;
}

}